In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('product_sale.csv')
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, -1].values

In [4]:
# Missing Data & preprocessing independant variables

In [5]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])

In [6]:
column_trans = ColumnTransformer(transformers=[('Encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(column_trans.fit_transform(X))

In [7]:
# Encode dependant variable

In [8]:
label_encoder = LabelEncoder()
Y = label_encoder.fit_transform(Y)

In [9]:
# create test and training sets

In [10]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [11]:
std_scaler = StandardScaler()
x_train[:, 3:] = std_scaler.fit_transform(x_train[:, 3:])
x_test[:, 3:] = std_scaler.transform(x_test[:, 3:])

In [12]:
x_test

array([[0.0, 1.0, 0.0, -1.4661817944830124, -0.9069571034860727],
       [1.0, 0.0, 0.0, -0.44973664397484414, 0.2056403393225306]],
      dtype=object)